<div class="main-container d-flex flex-column justify-content-end">
        <div class="title">Forward</div>
        <div class="title">backward</div>
        <p>Audioguide créé par Marcelline Delbecq et Eric Chenaux pour le bassin de la Garonne</p>
        <p>En écoute du 17 septembre et du 17 octobre</p>
        <p><a href="https://www.printempsdeseptembre.com/fr/le-festival/marcelline-delbecq-eric-chenaux/1153">Voir plus ></a></p>
        <img class="logo" src="assets/logo-printemps.png"/>
<!--    <div class="h-100">-->
<!--        <ngx-audio-player #audioPlayer class="h-100"-->
<!--                      [playlist]="singleTrack"-->
<!--                      [displayTitle]="true"-->
<!--                      [displayVolumeControls]="true"-->
<!--                      [displayRepeatControls]="false"-->
<!--                      [disablePositionSlider]="false"-->
<!--                      [displayArtist]="true"-->
<!--                      [displayDuration]="true"-->
<!--                      [autoPlay]="false"-->
<!--                      [expanded]="true">-->
<!--        </ngx-audio-player>-->
<!--    </div>-->
</div>
